body{
    margin: 0;
}
header{  
    padding: 30px 100px 40px 100px;
    background-color: white;
    height: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header-left{
    margin-left: 270px;
    float: left;
    display: flex;
    cursor: pointer;
}
.header-right{
    margin-right: 260px;
    display: flex;
    float: right;
    font-size: 11px;
    margin-top: 8px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    padding: 0 14px;
    font-family: sans-serif;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-family: sans-serif;
    padding: 0 12px 0 8px;
    height: 50px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 26px;
    
}
.dropdown-content a {
    color: black;
    padding:10px 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.home:hover{
    color: rgb(216, 216, 0);
}
.single:hover{
    color: rgb(216, 216, 0);
}
.hero {
    background: url(../L-industry/assets/img/hero-img.png);
    margin-top: -100px;
}
.dark{
    background-color: rgba(0, 0, 0, 0.562);
    height: 900px;
}
.hero-text h6{
    text-align: center;
    padding-top: 340px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}
.hero-text h1{
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    margin: 20px 0;
    font-weight: 800; 
}
.hero-text p{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}
.get-btn{
    display: flex;
    justify-content: center;
}
.start a{
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: rgb(255, 174, 0);
    display: inline-block;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.7s;
}
.start:hover a{
    background-color: transparent;
    border: 1px solid white;
    transition: 0.6s;
}
.second{
    padding: 0 370px;
    margin: 0 auto;
}
.isi{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
}
.cntnr{
    padding: 120px 0;
    width: 400px;
}
.magic{
    background-color: rgba(0, 255, 255, 0);
    width: 55px;
    height: 55px;
    border-radius: 200px;
    border: 2px solid rgb(155, 155, 155);
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}
.magic:hover{
    border: 2px solid rgb(155, 155, 155);
    background-color:  rgb(255, 166, 0);
    color: white;
    transition: 0.3s;
}
.position{
    padding: 10px 12px;
}
.position-r{
    padding: 12px 11px;
}
h2{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
.s2{
    margin: 10px 50px 10px 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: #858585;
}
.s3-mrl{
    padding: 120px 370px;
    background-color: #f9f9ff;
    justify-content: space-evenly;
    display: flex;
}
.s3-l{
    width: 750px;
}
.s3{
    font-family: sans-serif;
}
.s3-yellow{
    color: rgb(255, 174, 0);
}
.s-3{
    font-size: 40px;
    text-align: left;
}
.s3-desk{
    color: #686868;
    font-size: 15px;
    padding-right: 55px;
}
.start-s3{
    padding-right: 73.5%;
}
.sstart-s3 a{
    font-size: 14px;
    font-family: sans-serif;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: rgb(255, 174, 0);
    display: inline-block;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.7s;
}
.sstart-s3:hover a{
    border: 1px solid rgb(255, 174, 0);
    transition: 0.6s;
    color: rgb(255, 174, 0);
    background-color: transparent;
}
.s3-r{
    background: url(../L-industry/assets/img/section3.png);
    height: 428px;
    width: 360px;
}
.dark-2{
    background-color: rgba(0, 0, 0, 0.788);
    height: 428px;
    width: 360px;
}
.s3-tform{
    color: white;
    font-weight: 600;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.marginlist-s3{
    margin: 0 50px;
}
.inputs3{
    margin: 2px auto;
    text-align: center;
}
input{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 2px 0;
    color: white;
    border-radius: 2px;
    width: 94%;
}
textarea{
    margin: 2px 0;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    border-radius: 2px;
    width: 94%;
    padding: 10px;
    font-family: sans-serif;
}
.sbmtinpt{
    color: white;
    background-color: rgb(255, 174, 0);
    width: 264px;
    height: 35px;
    cursor: pointer;
}
.txt-inpt{
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    padding-top: 7px;
}
.clr-plchldr::-webkit-input-placeholder{
    color: white;
}
.select{
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 264px;
    height: 35px;
    margin-bottom: 4px;
    color: white;
    padding: 5px;
}
option{
    margin: 0 auto;
    height: 50px;
    background-color: transparent;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}
.s-4{
    font-family: sans-serif;
    margin: 0 355px;
}
.s4-title{
    text-align: center;
}
.s4-title1{
    font-size: 35px;
    padding-top: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.s4-title2{
    color: #686868;
    margin-top: 0;
    margin-bottom: 35px;
    padding: 5px 0 10px 0;
}
.s4-container{
    justify-content: space-evenly;
    display: flex;
}
.s4-title-img{
    font-size: 20px;
    margin: 25px 0;
    font-family: sans-serif;
}
.s4-desk{
    color: #858585;
    font-size: 17px;
    padding-bottom: 100px;
}
.cover-img{
    width: 350px;
    height: 240px;
    overflow: hidden;
}
.img-s4{
    transition: 0.4s;
    width: 350px;
    height: 240px;
    position: relative;
}
.img-s4:hover {
    transition: 0.4s;
    transform: rotate(-5deg) scale(1.2);
    transition: all 0.3s ease 0s;
}
.s4-evenly{
    cursor: pointer;
}
.s5{
    background: url(../L-industry/assets/img/s5.jpg);
    width: 1920px;
    height: 451px;
}
.s5-ratain{
    margin: 0 355px 0 300px;
    display: flex;
    justify-content: space-evenly;
}
.s5-drk{
    background-color: #0000007d;
    height: 451px;
}
.s5-cnt{
    text-align: center;
}
.s5-cc1{
    margin: 118px auto 0 auto;
    background-color: transparent;
    border: 2px solid #ffbb00;
    border-radius: 50%;
    height: 140px;
    width: 140px;
}
.s5-cc2{
    margin: 20px auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #ffbb00;
}
.s5-angka{
    color: white;
    font-size: 25px;
    margin: 0;
    padding-top: 35px;
    font-family: poppins, sans-serif;
}
.s5-desk{
    font-family: poppins, sans-serif;
    color: white;
    font-size: 20px;
}